<div class="container grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1">
  @for (newarrivaldata of newarrivalData; track $index) {
  <div
    class="mx-auto mt-11 w-80 transform overflow-hidden rounded-lg bg-white dark:bg-slate-800 shadow-md duration-300 hover:scale-105 hover:shadow-lg"
  >
    <img
      class="h-48 w-full object-cover object-center"
      src={{newarrivaldata.imgurl}}
      alt={{newarrivaldata.title}}
    />
    <div class="p-4">
      
      <h2 class="mb-2 text-sm font-medium dark:text-white text-amber-600">
        {{newarrivaldata.titleslang}}
        </h2>
      <h2 class="mb-2 text-lg font-medium dark:text-white text-gray-900">
        {{newarrivaldata.title}}
      </h2>
      <p class="mb-2 text-md dark:text-gray-300 text-gray-700">
        {{newarrivaldata.subtitle}}
      </p>
      <div class="flex items-center">
        <p class="mr-2 text-md font-semibold text-gray-900 dark:text-white">
          MRP: {{newarrivaldata.price}}
        </p>
        <p
          class="text-base font-medium text-gray-500 line-through dark:text-gray-300"
        >
          $25.00
        </p>
        <p class="ml-auto text-base font-medium text-green-500">{{newarrivaldata.category}}</p>
      </div>
    </div>
  </div>
}
</div>
<p-blockUI [blocked]="this.blockedDocument()">
  <p-progressSpinner ariaLabel="loading"></p-progressSpinner>
</p-blockUI>