<div class="flex relative">
@if (newarrivalData.length>0) {
<div class="lg:flex hidden sticky top-20 lg:w-1/5 h-[20%]">
  <p-scrollPanel [style]="{ width: '100%', height: '400px' }" styleClass="custombar1">
    <h2 class="text-2xl font-extrabold">
        {{Title}} <span class="font-light">{{newarrivalData.length}}</span>
    </h2>
    <!-- <div class="flex justify-center flex-col"> -->
      <div class="card flex flex-col justify-items-start items-center gap-3 px-5">
        <p>Shoes</p>
        <p>Jackets</p>
        <p>Hoodies & Swaetshirts</p>
        <p>Accessories & Equipment</p>
      </div>
      <div class="card flex justify-content-center items-center px-5">
        <p-accordion [activeIndex]="0">
            <p-accordionTab header="Gender">
              <div class="card flex flex-col justify-content-center gap-3">
                <div class="flex align-items-center">
                    <p-checkbox 
                        [(ngModel)]="FTRgender"
                        label="Male" 
                        name="Male" 
                        value="Male" (onChange)="FTRGenderGot()"/>
                </div>
                <div class="flex align-items-center">
                    <p-checkbox 
                        [(ngModel)]="FTRgender"
                        label="Female"
                        name="Female" 
                        value="Female" (onChange)="FTRGenderGot()" />
                </div>
                <div class="flex align-items-center">
                    <p-checkbox 
                        [(ngModel)]="FTRgender"
                        label="Not to say" 
                        name="Not_to_say" 
                        value="Not to say" (onChange)="FTRGenderGot()" />
                </div>
            </div>
            </p-accordionTab>
            <p-accordionTab header="Shop By Price"><!--FTR is the Abbrevation of FILTER.-->
                <div class="card flex flex-col justify-content-center gap-3">
                  <div class="flex align-items-center">
                      <p-checkbox 
                          [(ngModel)]="FTRprice"
                          label="Under 2500" 
                          name="Under_2500" 
                          value="2500" (onChange)="FTRPriceGot()" />
                  </div>
                  <div class="flex align-items-center">
                      <p-checkbox 
                          [(ngModel)]="FTRprice"
                          label="2501-7500"
                          name="2501-7500" 
                          value="2501-7500" (onChange)="FTRPriceGot()" />
                  </div>
                  <div class="flex align-items-center">
                    <p-checkbox 
                        [(ngModel)]="FTRprice"
                        label="7501-12999" 
                        name="7501-12999" 
                        value="7501-12999" (onChange)="FTRPriceGot()" />
                </div>
                <div class="flex align-items-center">
                  <p-checkbox 
                      [(ngModel)]="FTRprice"
                      label="Over 13000" 
                      name="Over_13000" 
                      value="13000" (onChange)="FTRPriceGot()" />
              </div>
              </div>
            </p-accordionTab>
        </p-accordion>
    </div>
    <!-- </div> -->
  </p-scrollPanel>
</div>
}
<div class="container grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 my-[4%] lg:w-4/5">
  @for (newarrivaldata of newarrivalData; track $index) {
  <div
    class="mx-auto mt-11 w-80 transform overflow-hidden rounded-lg bg-white dark:bg-slate-800 shadow-md duration-300 hover:scale-105 hover:shadow-lg hover:cursor-grab"
    [routerLink]="['/main/product-detail',newarrivalData[$index].id]"
  >
    <img
      class="h-48 w-full object-cover object-center"
      src="{{ newarrivaldata.imgurl }}"
      alt="{{ newarrivaldata.title }}"
    />
    <div class="p-4">
      <h2 class="mb-2 text-sm font-medium dark:text-white text-amber-600">
        {{ newarrivaldata.titleslang }}
      </h2>
      <h2 class="mb-2 text-lg font-medium dark:text-white text-gray-900">
        {{ newarrivaldata.title }}
      </h2>
      <p class="mb-2 text-md dark:text-gray-300 text-gray-700">
        {{ newarrivaldata.subtitle }}
      </p>
      <div class="flex items-center">
        <p class="mr-2 text-md font-semibold text-gray-900 dark:text-white">
          MRP: {{ newarrivaldata.price }}
        </p>
        <p
        class="text-base font-medium text-gray-500 line-through dark:text-gray-300"
        >
        $25.00
      </p>
      <p class="ml-auto text-base font-medium text-green-500">
        {{ newarrivaldata.category }}
      </p>
    </div>
  </div>
  <p class="mb-2 text-md dark:text-gray-300 text-green-400">
    @if(newarrivalData[$index].pieces >50)
    {
      <p class="mb-2 text-md dark:text-gray-300 text-green-500">
        {{ newarrivaldata.pieces }} items left in a stock.
      </p>
    }@else if (newarrivalData[$index].pieces>10) {
      <p class="mb-2 text-md dark:text-gray-300 text-amber-500">
        Limited stock of {{ newarrivaldata.pieces }} items.
      </p>
    }@else {
      <p class="mb-2 text-md dark:text-gray-300 text-red-500">
        Hurry! only {{ newarrivaldata.pieces }} items left in a stock.
      </p>
    }
  </div>
  } @empty {
  <div
    class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 w-[100vw] gap-4 justify-items-center"
  >
  @for (cntSkeleton of CountSkeleton; track $index) {
    <div class="card shadow-xl w-72 rounded-lg">
        <p-skeleton
          width="100%"
          height="150px"
          styleClass="mb-2"
          borderRadius="16px"
        ></p-skeleton>
        <div class="grid grid-cols-2 grid-rows-3 gap-x-4">
          <p-skeleton width="100%" styleClass="mb-2"></p-skeleton>
          <p-skeleton width="80%" styleClass="mb-2"></p-skeleton>
          <p-skeleton width="100%" styleClass="mb-2"></p-skeleton>
          <p-skeleton width="80%" styleClass="mb-2"></p-skeleton>
          <p-skeleton width="100%" styleClass="mb-2"></p-skeleton>
        </div>
        <div class="flex justify-center mt-3 gap-x-4">
          <p-skeleton width="4rem" styleClass="mb-2" height="2rem"></p-skeleton>
          <p-skeleton width="4rem" styleClass="mb-2" height="2rem"></p-skeleton>
          <p-skeleton width="5rem" styleClass="mb-2" height="1rem"></p-skeleton>
        </div>
    </div>
  }
  </div>
  }
</div>
</div>
<p-blockUI [blocked]="this.blockedDocument()">
  <p-progressSpinner ariaLabel="loading"></p-progressSpinner>
</p-blockUI>